[submodule "sources_non_forked/syntastic"]
	path = sources_non_forked/syntastic
	url = git@github.com:scrooloose/syntastic.git
[submodule "sources_non_forked/vim-addon-mw-utils"]
	path = sources_non_forked/vim-addon-mw-utils
	url = git://github.com/MarcWeber/vim-addon-manager-known-repositories.git
[submodule "sources_non_forked/ctrlp.vim"]
	path = sources_non_forked/ctrlp.vim
	url = git://github.com/kien/ctrlp.vim
[submodule "sources_non_forked/scss-syntax.vim"]
	path = sources_non_forked/scss-syntax.vim
	url = git://github.com/cakebaker/scss-syntax.vim
[submodule "sources_non_forked/vim-less"]
	path = sources_non_forked/vim-less
	url = git://github.com/groenewege/vim-less
[submodule "sources_non_forked/editorconfig-vim"]
	path = sources_non_forked/editorconfig-vim
	url = git@github.com:editorconfig/editorconfig-vim.git
[submodule "sources_non_forked/tabular"]
	path = sources_non_forked/tabular
	url = git@github.com:godlygeek/tabular.git
[submodule "sources_non_forked/yajs.vim"]
	path = sources_non_forked/yajs.vim
	url = git@github.com:othree/yajs.vim.git
[submodule "sources_non_forked/javascript-libraries-syntax.vim"]
	path = sources_non_forked/javascript-libraries-syntax.vim
	url = git@github.com:othree/javascript-libraries-syntax.vim.git
[submodule "sources_non_forked/es.next.syntax.vim"]
	path = sources_non_forked/es.next.syntax.vim
	url = git@github.com:othree/es.next.syntax.vim.git
[submodule "sources_non_forked/tsuquyomi"]
	path = sources_non_forked/tsuquyomi
	url = git@github.com:Quramy/tsuquyomi.git
[submodule "sources_non_forked/typescript-vim"]
	path = sources_non_forked/typescript-vim
	url = git@github.com:leafgarland/typescript-vim.git
[submodule "sources_non_forked/ultisnips"]
	path = sources_non_forked/ultisnips
	url = git@github.com:SirVer/ultisnips.git
[submodule "sources_non_forked/vim-snippets"]
	path = sources_non_forked/vim-snippets
	url = git@github.com:honza/vim-snippets.git
[submodule "sources_non_forked/YouCompleteMe"]
	path = sources_non_forked/YouCompleteMe
	url = git@github.com:Valloric/YouCompleteMe.git
[submodule "sources_non_forked/vimproc.vim"]
	path = sources_non_forked/vimproc.vim
	url = git@github.com:Shougo/vimproc.vim.git
